# Ignore the .venv folder inside clipify-ai-backend
PodClipper-AI-Backend/.venv/

# Ignore specific files inside clipify-ai-backend
PodClipper-AI-Backend/mi6.mp4
PodClipper-AI-Backend/mi65min.mp4
PodClipper-AI-Backend/mi630min.mp4
PodClipper-AI-Backend/therapy.mp4

PodClipper-AI-Backend/__pycache__/
